@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<farris_art_gallery.Models.Image>
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Index";
}

@if (!SignInManager.IsSignedIn(User))
{
    <h4>You do not have permission to view this page.</h4>
}
else
{
    <h1>Index</h1>
    
    <p>
        <a asp-action="Create" asp-route-ExhibitId="@Convert.ToInt32(TempData.Peek("ExhibitId"))">Create New</a>
    </p>
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NorthId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SouthId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EastId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WestId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageName)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem=>item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NorthId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SouthId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EastId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WestId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>

}

